<!DOCTYPE html>
<html>

    <body>
        <h1> Carte en main de {{ playerone.name }}: </h1>
        <ul>
            {% for cardName, cardNumber in playerone.getSortedCards() %}
                <li> {{ cardNumber }} {{ cardName }}</li>
            {% endfor %}
        </ul>
        {% if playerone.wantMulligan() %}
            <p> Le joueur va faire une Mulligan </p>
            {{ playerone.mulligan(deckone) }}
            <p> Nouvelle main </p>
            <ul>
                {% for cardName, cardNumber in playerone.getSortedCards() %}
                    <li> {{ cardNumber }} {{ cardName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p> Le joueur garde sa main </p>
        {% endif %}
        <p> Board: </p>
        <ul>
            {% for card in boardone %}
                    {{ card.type }}
            {% endfor %}
        </ul>



        <h1> Carte en main de {{ playertwo.name }}: </h1>
        <ul>
            {% for cardName, cardNumber in playertwo.getSortedCards() %}
                <li> {{ cardNumber }} {{ cardName }}</li>
            {% endfor %}
        </ul>
        {% if playertwo.wantMulligan() %}
            <p> Le joueur va faire une Mulligan </p>
            {{ playertwo.mulligan(decktwo) }}
            <p> Nouvelle main </p>
            <ul>
                {% for cardName, cardNumber in playertwo.getSortedCards() %}
                    <li> {{ cardNumber }} {{ cardName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p> Le joueur garde sa main </p>
        {% endif %}

        <p> Board: </p>
        <ul>
            {% for cardName, cardNumber in playertwo %}
                    <li> {{ cardNumber }} {{ cardName }}</li>
            {% endfor %}
        </ul>

    </body>

</html>
